.map-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#map {
  border: 1px solid black;
  height: 250px;
  width: 410px;
}



.pTag{
  white-space: normal;
}


.leaflet-popup-content-wrapper {
  background: #e92f2f;
 
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  background: #e93434;
}

.leaflet-popup-tip-container {
  background: #e93434;
}