<div class="d-flex justify-content-end" [formGroup]="inputs" style="background-color: rgb(1, 109, 62);">
    <div class="col-10 p-3" style="background-color: rgb(223, 251, 254);">
        <div class="mt-4">
            <h3>REPORTE DIARIO DESAGUADO MINA</h3>
        </div>
        <div class="mt-5">
            <p> Seleccione la fecha del informe</p>
            <div class="d-flex gap-2">
                <mdb-form-control class=" mt-0" style="width: 200px;">
                    <input id="fecha" mdbInput type="Date" id="form1" class="form-control" style="background-color: aliceblue;"
                        formControlName="fecha" (change)="selectionDate($event)"/>
                    <label mdbLabel class="form-label" for="form1">Fecha</label>
                </mdb-form-control>
                <mdb-form-control class=" mt-0" style="width: 100px;">
                    <input id="hora" mdbInput type="time" id="form1" class="form-control" style="background-color: aliceblue;"
                        formControlName="hora" (change)="selectionDate($event)"/>
                </mdb-form-control>
            </div>
        </div>
        <div class="mt-5">
            <div>
                <h4>Resumen Caudal</h4>
            </div>
            <div class="mt-4">
                <div class="row">
                    <label class="col-9" mdbLabel for="c3">Comentarios</label>
                </div>
                <mdb-form-control class="mt-1">
                    <textarea mdbInput class="form-control" id="resumen" rows="5" style="background-color: aliceblue;"
                        formControlName="resumen"></textarea>
                </mdb-form-control>
            </div>
        </div>
        <div class="mt-5">
            <div>
                <h4>Focos Principales</h4>
            </div>
            <div class="mt-4">
                <div class="row">
                    <label class="col-9" mdbLabel for="c2">Comentarios</label>
                </div>
                <mdb-form-control class="mt-1">
                    <textarea mdbInput class="form-control" id="focosp" rows="5" style="background-color: aliceblue;"
                        formControlName="principales"></textarea>
                </mdb-form-control>
            </div>
        </div>
        <div class="mt-5">
            <div>
                <h4>Focos Segundarios</h4>
            </div>
            <div class="mt-4">
                <div class="row">
                    <label class="col-9" mdbLabel for="c1">Comentarios</label>
                </div>
                <mdb-form-control class="mt-1">
                    <textarea mdbInput class="form-control" id="focoss" rows="5" style="background-color: aliceblue;"
                        formControlName="segundarios" placeholder=""></textarea>
                </mdb-form-control>
            </div>
        </div>
        <div class="d-flex flex-column mt-5">
            <div>
                <h4>Imagen Mina</h4>
            </div>
            <div class="map-container mt-4 d-flex justify-content-center">
                <div class="map-frame" #mapaElement>
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <div class=" mx-auto my-5" style="width: 620px;">
            <div class="d-flex justify-content-end gap-1">
                <button (click)="generateRow()" class="btns-tabla" href="#"><i style="color: rgb(73, 207, 36);"
                        class="fas fa-plus-circle fa-lg"></i></button>
                <button (click)="deleteRow()" class="btns-tabla" href="#"><i style="color: rgb(221, 80, 24);"
                        class="fas fa-minus-circle fa-lg"></i></button>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="width: 258px;">Foco</th>
                        <th scope="col" style="width: 258px;">Comentario</th>
                        <th scope="col" style="width: 100px;">Estado</th>
                    </tr>
                </thead>
                <tbody #table>
                </tbody>
            </table>
        </div>
        <div class="d-flex my-5 justify-content-end">
            <button type="button" class="btn  mb-4" style="background-color: rgb(1, 109, 62); color: #eeefef" mdbRipple
                (click)="generarPDF()">Descargar PDF</button>
        </div>
    </div>
</div>