<div class=" mt-5" style="background-color: rgb(244, 244, 245); width: 950px;">
    <div class="mx-2">
        <div class="d-flex flex-column align-items-center mt-5">
            <h3 class="m-0 font-size-2 mt-4">REPORTE PUNTOS DE SEGUIMIENTO POST TRONADURA</h3>
            <p class="m-0">TRONADURA FASE 8 - COORDENADAS: 93 675 | 22 441 | 3125</p>
            <P class="m-0">Miércoles 11 de Octubre de 2023, 14:06 hrs.</P>
        </div>
        <div class="mt-2 d-flex flex-column align-items-center">
            <div style="background-color: black; height: 1px; width: 80%"></div>
        </div>
        <div class="ps-3 mt-3">
            <h4>Plano de hubicación</h4>
        </div>
        <div class="d-flex justify-content-center">
            <img src="../../assets/img1.png" alt="" width="400">
        </div>
        <div class="ps-3 mt-3">
            <div>
                <h4>Información Tronadura</h4>
            </div>
            <div>
                <ul>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                </ul>
            </div>
        </div>
        <div class="mt-5 d-flex justify-content-center">
            <img src="../../assets/img2.png" alt="" width="400">
        </div>
        <div class="ps-3 mt-3">
            <div>
                <h4>Información Tronadura</h4>
            </div>
            <div>
                <ul>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                </ul>
            </div>
        </div>
        <div class="mt-5 d-flex justify-content-center">
            <img src="../../assets/img2.png" alt="" width="400">
        </div>
        <div class="ps-3 mt-3">
            <div>
                <h4>Información Tronadura</h4>
            </div>
            <div>
                <ul>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                </ul>
            </div>
        </div>
        <div class="mt-5 d-flex justify-content-center">
            <img src="../../assets/img2.png" alt="" width="400">
        </div>
    </div>
</div>