<div class="d-flex justify-content-end">
    <div class="col-10 mt-2 p-2" style="background-color: #e6fcfc;">
        <button type="button" class="btn btn-sm mb-4" style="background-color: #00838F; color: #eeefef" routerLink="/"
            mdbRipple>Atras </button>
        <div class="d-flex flex-column  mt-4 ">
            <h3 style="color: #00838F;">ALERTAS DE SEGURIDAD</h3>
        </div>
        <div class="mt-4">
            <div class="col-6 border rounded-3 p-2" style="background-color: #fafafa;">
                <div class="col-12">
                    <h4>General</h4>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>id</label>
                        <div>
                            <input type="number" id="idInforme" class="form-control form-control-sm" value="0" min="0"
                                formControlName="id" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Fecha Inicio</label>
                        <div>
                            <input mdbInput type="date" id="fecha-inicio" class="form-control form-control-sm"
                                formControlName="fecha" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    

                </div>
            </div>
            <!-- <div class="d-flex flex-column gap-2 col-5">
                        <div class="">
                            <label for="select2">Alerta seguridad</label>
                            <select id="select2" class="rounded-2 form-control form-control-sm" formControlName="pared">
                                <option value="N">2024.14</option>
                                <option value="NE">2024.13</option>
                                <option value="E">2024.12</option>
                                <option value="ES">2024.11</option>
                                <option value="S">2024.10</option>
                            </select>
                        </div>
                        <div class="">
                            <label for="select2">Tipo</label>
                            <select id="select2" class="rounded-2 form-control form-control-sm" formControlName="pared">
                                <option value="N">Operacional</option>
                                <option value="NE">Geotecnico</option>
                            </select>
                        </div>
                    </div> -->
            <!-- <div class="col-6 border rounded-3 p-2" style="background-color: #fafafa;">
                <div>
                    <h4>Caracterización</h4>
                </div>
                <div class=" d-flex gap-4   ">
                    <div class="d-flex flex-column gap-2 col-5">
                        <div class="">
                            <label for="select2">Mecanismos falla</label>
                            <select id="select2" class="rounded-2 form-control form-control-sm" formControlName="pared">
                                <option value="N">Cuña</option>
                                <option value="NE">Falla Plana</option>
                                <option value="E">Mixto</option>
                                <option value="ES">Cascara</option>
                                <option value="S">Bloque</option>
                            </select>
                        </div>
                        <div>
                            <label>Altura Banco</label>
                            <div>
                                <input type="number" id="altura" class="form-control form-control-sm" value="0" min="0"
                                    formControlName="id" />
                            </div>
                        </div>
                        <div>
                            <label>Desplazamiento Acumulado</label>
                            <div>
                                <input type="number" id="desplazamiento" class="form-control form-control-sm" value="0"
                                    min="0" formControlName="id" />
                            </div>
                        </div>
                        <div>
                            <label>Velocidad Máxima Últimas 12hrs.</label>
                            <div>
                                <input type="number" id="velocidad" class="form-control form-control-sm" value="0"
                                    min="0" formControlName="id" />
                            </div>
                        </div>
                        <div>
                            <label>Volumen</label>
                            <div>
                                <input type="number" id="velocidad" class="form-control form-control-sm" value="0"
                                    min="0" formControlName="id" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-2 col-5">
                        <div>
                            <label>Altura Falla</label>
                            <div>
                                <input type="number" id="velocidad" class="form-control form-control-sm" value="0"
                                    min="0" formControlName="id" />
                            </div>
                        </div>
                        <div>
                            <label>Velocidad Promedio</label>
                            <div>
                                <input type="number" id="velocidad" class="form-control form-control-sm" value="0"
                                    min="0" formControlName="id" />
                            </div>
                        </div>
                        <div>
                            <label>Tiempo de Activación</label>
                            <div>
                                <input type="number" id="velocidad" class="form-control form-control-sm" value="0"
                                    min="0" formControlName="id" />
                            </div>
                        </div>
                        <div>
                            <label>Velocidad Anterior a Velocidad Máxima</label>
                            <div>
                                <input type="number" id="velocidad" class="form-control form-control-sm" value="0"
                                    min="0" formControlName="id" />
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>