<div class="col-12 d-flex flex-column align-items-center " [formGroup]="inputs">
    <div class="col-8 mt-2">
        <button type="button" style="background-color: #00838F; color: #fbfbfb" class="btn btn-sm" [routerLink]="['/']"
            routerLinkActive="router-link-active" mdbRipple>Atras</button>
    </div>
    <div class="mt-4">
        <h3>INFORME MENSUAL A2MG</h3>
    </div>
    <div class="mt-2 d-flex gap-2">
        <!-- <button style="background-color: #00838F; color: #eeefef" type="button" class="btn" (click)="activarInforme()"
            mdbRipple>Exportar</button> -->
        <button style="background-color: #00838F; color: #eeefef" type="button" class="btn" (click)="activarInforme()"
            mdbRipple>Descargar EMT</button>
        <button style="background-color: #00838F; color: #eeefef" type="button" class="btn" (click)="descargaCliente()"
            mdbRipple>Descargar Cliente</button>
    </div>
    <div class="mt-4">
        <div>
            <label mdbLabel class="form-label" for="mes">Mes y año</label>
            <input mdbInput type="month" id="mes" class="form-control" formControlName="fecha" (change)="loadTablas()"
                [max]="hoy" />
        </div>
    </div>
    <div class="mt-4 d-flex col-8 justify-content-between">
        <div [formGroup]="inputs.controls.usrs">
            <label mdbLabel class="form-label" for="elaborado">Elaborado</label>
            <input mdbInput type="text" id="elaborado" class="form-control" formControlName="elaborado"
                autocomplete="true" />
            <label mdbLabel class="form-label" for="cargos">Cargo</label>
            <input mdbInput type="text" id="cargos" class="form-control" formControlName="cargo1" />
        </div>
        <div [formGroup]="inputs.controls.usrs">
            <label mdbLabel class="form-label" for="Revisado">Revisado</label>
            <input mdbInput type="text" id="Revisado" class="form-control" formControlName="revisado" />
            <label mdbLabel class="form-label" for="cargos">Cargo</label>
            <input mdbInput type="text" id="cargos" class="form-control" formControlName="cargo2" />
        </div>
        <div [formGroup]="inputs.controls.usrs">
            <label mdbLabel class="form-label" for="Aprobado">Aprobado</label>
            <input mdbInput type="text" id="Aprobado" class="form-control" formControlName="aprobado" />
            <label mdbLabel class="form-label" for="cargos">Cargo</label>
            <input mdbInput type="text" id="cargos" class="form-control" formControlName="cargo3" />
        </div>
    </div>
    <!-- <div class="col-8 mt-4" *ngIf="dataCriticisadad && tablaDispo.value"> -->
    <div class="col-8 mt-4" *ngIf="tablaDispo.value">
        <div [formGroup]="inputs.controls.disponibilidadComentario">
            <h4>Disponibilidad del Sistema</h4>
            <table class="table">
                <thead>
                    <tr style="background-color: #f2f3f3;">
                        <th scope="col">Indicador</th>
                        <th scope="col">Disponibilidad</th>
                        <th scope="col">Observaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color: #f2f3f3;">
                        <th scope="row">Infraestructura EMT</th>
                        <td>{{tablaDispo.value.infraestructura}}</td>
                        <td>
                            <mdb-form-control class="">
                                <textarea mdbInput class="form-control" id="infraEMT" rows="1"
                                    formControlName="infraEMT" style="background-color: #ffffff;"></textarea>
                                <label mdbLabel class="form-label" for="infraEMT">Añadir comentario</label>
                            </mdb-form-control>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="ps-5">Servicio web</th>
                        <td>{{tablaDispo.value.servicio_web}}</td>
                        <td>
                            <mdb-form-control class="">
                                <textarea mdbInput class="form-control" id="servicioWeb" rows="1"
                                    formControlName="web"></textarea>
                                <label mdbLabel class="form-label" for="servicioWeb">Añadir comentario</label>
                            </mdb-form-control>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="ps-5">Servicio imágenes</th>
                        <td>{{tablaDispo.value.servicio_imagenes}}</td>
                        <td>
                            <mdb-form-control class="">
                                <textarea mdbInput class="form-control" id="imagenes" rows="1"
                                    formControlName="img"></textarea>
                                <label mdbLabel class="form-label" for="imagenes">Añadir comentario</label>
                            </mdb-form-control>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="ps-5">Servicio base de datos</th>
                        <td>{{tablaDispo.value.servicio_db}}</td>
                        <td>
                            <mdb-form-control class="">
                                <textarea mdbInput class="form-control" id="bd" rows="1"
                                    formControlName="bd"></textarea>
                                <label mdbLabel class="form-label" for="bd">Añadir comentario</label>
                            </mdb-form-control>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="ps-5">Servicio API</th>
                        <td>{{tablaDispo.value.servicio_api}}</td>
                        <td>
                            <mdb-form-control class="">
                                <textarea mdbInput class="form-control" id="api" rows="1"
                                    formControlName="api"></textarea>
                                <label mdbLabel class="form-label" for="api">Añadir comentario</label>
                            </mdb-form-control>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="ps-5">Servicio de computo</th>
                        <td>{{tablaDispo.value.servicio_computo}}</td>
                        <td>
                            <mdb-form-control class="">
                                <textarea mdbInput class="form-control" id="computo" rows="1"
                                    formControlName="computo"></textarea>
                                <label mdbLabel class="form-label" for="computo">Añadir comentario</label>
                            </mdb-form-control>
                        </td>
                    </tr>
                    <tr style="background-color: #f2f3f3;">
                        <th scope="row">Infraestructura ANT</th>
                        <td>{{tablaDispo.value.sistema_adquisicion_imagenes}}</td>
                        <td>
                            <mdb-form-control class="">
                                <textarea mdbInput class="form-control" id="ant" rows="1" formControlName="infraANT"
                                    style="background-color: #ffffff;"></textarea>
                                <label mdbLabel class="form-label" for="ant">Añadir comentario</label>
                            </mdb-form-control>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="ps-5">Sistema de adquisición de imágenes</th>
                        <td>{{tablaDispo.value.sistema_adquisicion_imagenes}}</td>
                        <td>
                            <mdb-form-control class="">
                                <textarea mdbInput class="form-control" id="adquisicion" rows="1"
                                    formControlName="sistema"></textarea>
                                <label mdbLabel class="form-label" for="adquisicion">Añadir comentario</label>
                            </mdb-form-control>
                        </td>
                    </tr>
                    <tr style="background-color: #f2f3f3;">
                        <th scope="row">Enlaces</th>
                        <td>{{tablaDispo.value.enlace_dedicado}}</td>
                        <td>
                            <mdb-form-control class="">
                                <textarea mdbInput class="form-control" id="enlaces" rows="1"
                                    formControlName="enlaceObs" style="background-color: #ffffff;"></textarea>
                                <label mdbLabel class="form-label" for="enlaces">Añadir comentario</label>
                            </mdb-form-control>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="ps-5">Enlace dedicado AMSA</th>
                        <td>{{tablaDispo.value.enlace_dedicado}}</td>
                        <td>
                            <mdb-form-control class="">
                                <textarea mdbInput class="form-control" id="enlace" rows="1"
                                    formControlName="enlace"></textarea>
                                <label mdbLabel class="form-label" for="enlace">Añadir comentario</label>
                            </mdb-form-control>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-8 mt-4">
        <div formGroupName="confiabilidad">
            <h4>Confiabilidad</h4>
            <ul class="mt-3 d-flex flex-column gap-3">
                <li class="d-flex ">
                    <p class="col-2">Identificación:</p>
                    <div class="col-2">
                        <input type="number" id="Identificación" class="form-control" formControlName="identificacion"
                            (change)="calcularPromedio()" />
                    </div>
                </li>
                <li class="d-flex  ">
                    <p class="col-2">Clasificación:</p>
                    <div class="col-2">
                        <input type="number" id="Clasificacion" class="form-control" formControlName="clasificacion"
                            (change)="calcularPromedio()" />
                    </div>
                </li>
                <li class="d-flex  ">
                    <p class="col-2">Comunicación:</p>
                    <div class="col-2">
                        <input type="number" id="Porcentaje" class="form-control" formControlName="comunicacion"
                            (change)="calcularPromedio()" />
                    </div>
                </li>
                <li class="d-flex  ">
                    <p class="col-2">Promedio:</p>
                    <div class="col-2">
                        <input type="number" id="Porcentaje" class="form-control" formControlName="promedioConfia" />
                    </div>
                </li>
            </ul>
            <div>
                <h5>Agregar Comentarios e Imagenes</h5>
                <div #templateComentarios>
                </div>
                <div class="mt-3">
                    <button type="button" style="background-color: #00838F; color: #fbfbfb" class="btn btn-sm" mdbRipple
                        (click)="loadTemplateComentarios()">Añadir comentario</button>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <h4>Análisis de Criticidades</h4>
            <div *ngIf="dataCriticisadad">
                <div class="d-flex flex-wrap gap-5" *ngIf="dataCriticisadad.length > 0; else elseBlock ">
                    <div class="col-5" *ngFor="let criticidad of dataCriticisadad.reverse(); index as i">
                        <div class="border border-primary p-2">
                            <p>Fecha: {{criticidad.date}}</p>
                            <p>{{criticidad.id}}</p>
                            <p>Camara:{{criticidad.camera}}</p>
                            <label class="form-label" for="customFile">Imagen Grieta</label>
                            <input type="file" class="form-control" id="customFile" (change)="loadImg($event, i)" />
                            <img *ngIf="imgCriticidad[i]" [src]="imgCriticidad[i]" width="200" height="180"
                                class="m-2 ">
                            <mdb-form-control class="mt-1">
                                <textarea mdbInput class="form-control" id="textAreaExamples" rows="1"
                                    (change)="loadComentarios($event,i, criticidad.id)"></textarea>
                                <label mdbLabel class="form-label" for="textAreaExamples">Añadir comentario</label>
                            </mdb-form-control>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                <p>Durante el período no se registran grietas de criticidad alta asociadas a alguna condición de
                    fallamiento.</p>
            </ng-template>
        </div>
        <div >
            <h4>Comentarios e imagenes matriz</h4>
            <div>
                <div #matriz>
                </div>
                <div class="mt-3">
                    <button type="button" style="background-color: #00838F; color: #fbfbfb" class="btn btn-sm" mdbRipple
                        (click)="loadMatrizComentario()">Añadir comentario</button>
                </div>
            </div>
        </div>
        <div class="my-4">
            <h4>Conclusiones y recomendaciones</h4>
            <mdb-form-control>
                <textarea mdbInput class="form-control" id="text2" rows="5" formControlName="conclusion"></textarea>
                <label mdbLabel class="form-label" for="text2">Añadir comentario</label>
            </mdb-form-control>
        </div>
    </div>
</div>