<div class="col-12 d-flex flex-column align-items-center " [formGroup]="inputs">
    <div class="col-8 mt-2">
        <button type="button" style="background-color: #00838F; color: #fbfbfb" class="btn btn-sm" [routerLink]="['/']"
            routerLinkActive="router-link-active" mdbRipple>Atras</button>
    </div>
    <div class="mt-4">
        <h3>INFORME MENSUAL A2MG</h3>
    </div>
    <div class="mt-2 d-flex gap-2">
        <button style="background-color: #00838F; color: #eeefef" type="button" class="btn" (click)="activarInforme()"
            mdbRipple>Exportar</button>
        <button style="background-color: #00838F; color: #eeefef" type="button" class="btn" (click)="activarInforme()"
            mdbRipple>Descargar</button>
    </div>
    <div class="mt-4">
        <div>
            <label mdbLabel class="form-label" for="mes">Mes y año</label>
            <input mdbInput type="month" id="mes" class="form-control" formControlName="fecha"
                (change)="loadTablas()" />
        </div>
    </div>
    <div class="mt-4 d-flex col-8 justify-content-between">
        <div [formGroup]="inputs.controls.usrs">
            <label mdbLabel class="form-label" for="elaborado">Elaborado</label>
            <input mdbInput type="text" id="elaborado" class="form-control" formControlName="elaborado" />
            <label mdbLabel class="form-label" for="cargos">Cargo</label>
            <input mdbInput type="text" id="cargos" class="form-control" formControlName="cargo1" />
        </div>
        <div [formGroup]="inputs.controls.usrs">
            <label mdbLabel class="form-label" for="Revisado">Revisado</label>
            <input mdbInput type="text" id="Revisado" class="form-control" formControlName="revisado" />
            <label mdbLabel class="form-label" for="cargos">Cargo</label>
            <input mdbInput type="text" id="cargos" class="form-control" formControlName="cargo2" />
        </div>
        <div [formGroup]="inputs.controls.usrs">
            <label mdbLabel class="form-label" for="Aprobado">Aprobado</label>
            <input mdbInput type="text" id="Aprobado" class="form-control" formControlName="aprobado" />
            <label mdbLabel class="form-label" for="cargos">Cargo</label>
            <input mdbInput type="text" id="cargos" class="form-control" formControlName="cargo3" />
        </div>
    </div>
    <!-- <div class="col-8 mt-4" *ngIf="dataCriticisadad && tablaDispo"> -->
    <div class="col-8 mt-4" *ngIf="tablaDispo">
        <div [formGroup]="inputs.controls.disponibilidadComentario">
            <h4>Disponibilidad del Sistema</h4>
            <ul class="mt-3 d-flex flex-column gap-3">
                <li class="d-flex gap-4 ">
                    <p class="col-4">Servicio Web: {{tablaDispo.servicio_web}}</p>
                    <mdb-form-control class="col-6">
                        <textarea mdbInput class="form-control" id="textAreaExample" rows="1"
                            formControlName="web"></textarea>
                        <label mdbLabel class="form-label" for="textAreaExample">Añadir comentario</label>
                    </mdb-form-control>
                </li>
                <li class="d-flex gap-4 ">
                    <p class="col-4">Servicio imágenes: {{tablaDispo.servicio_imagenes}}</p>
                    <mdb-form-control class="col-6">
                        <textarea mdbInput class="form-control" id="textAreaExample" rows="1"
                            formControlName="img"></textarea>
                        <label mdbLabel class="form-label" for="textAreaExample">Añadir comentario</label>
                    </mdb-form-control>
                </li>
                <li class="d-flex gap-4 ">
                    <p class="col-4">Servicio base de datos: {{tablaDispo.servicio_db}}</p>
                    <mdb-form-control class="col-6">
                        <textarea mdbInput class="form-control" id="textAreaExample" rows="1"
                            formControlName="bd"></textarea>
                        <label mdbLabel class="form-label" for="textAreaExample">Añadir comentario</label>
                    </mdb-form-control>
                </li>
                <li class="d-flex gap-4 ">
                    <p class="col-4">Servicio API: {{tablaDispo.servicio_api}}</p>
                    <mdb-form-control class="col-6">
                        <textarea mdbInput class="form-control" id="textAreaExample" rows="1"
                            formControlName="api"></textarea>
                        <label mdbLabel class="form-label" for="textAreaExample">Añadir comentario</label>
                    </mdb-form-control>
                </li>
                <li class="d-flex gap-4 ">
                    <p class="col-4">Servicio de computo: {{tablaDispo.servicio_computo}}</p>
                    <mdb-form-control class="col-6">
                        <textarea mdbInput class="form-control" id="textAreaExample" rows="1"
                            formControlName="computo"></textarea>
                        <label mdbLabel class="form-label" for="textAreaExample">Añadir comentario</label>
                    </mdb-form-control>
                </li>
                <li class="d-flex gap-4">
                    <p class="col-4" style="color: #00838F;">Promedio: {{tablaDispo.infraestructura}}</p>
                </li>
                <li class="d-flex gap-4 ">
                    <p class="col-4">Sistema de adquisición de imágenes: {{tablaDispo.sistema_adquisicion_imagenes}}</p>
                    <mdb-form-control class="col-6">
                        <textarea mdbInput class="form-control" id="textAreaExample" rows="1"
                            formControlName="sistema"></textarea>
                        <label mdbLabel class="form-label" for="textAreaExample">Añadir comentario</label>
                    </mdb-form-control>
                </li>
                <li class="d-flex gap-4 ">
                    <p class="col-4">Enlace dedicado AMSA: {{tablaDispo.enlace_dedicado}}</p>
                    <mdb-form-control class="col-6">
                        <textarea mdbInput class="form-control" id="textAreaExample" rows="1"
                            formControlName="enlace"></textarea>
                        <label mdbLabel class="form-label" for="textAreaExample">Añadir comentario</label>
                    </mdb-form-control>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-8 mt-4">
        <div formGroupName="confiabilidad">
            <h4>Confiabilidad</h4>
            <ul class="mt-3 d-flex flex-column gap-3">
                <li class="d-flex ">
                    <p class="col-2">Identificación:</p>
                    <div class="col-2">
                        <input type="number" id="Identificación" class="form-control" formControlName="identificacion"
                            (change)="calcularPromedioConfiabilidad()" />
                    </div>
                </li>
                <li class="d-flex  ">
                    <p class="col-2">Clasificación:</p>
                    <div class="col-2">
                        <input type="number" id="Clasificacion" class="form-control" formControlName="clasificacion"
                            (change)="calcularPromedioConfiabilidad()" />
                    </div>
                </li>
                <li class="d-flex  ">
                    <p class="col-2">Comunicación:</p>
                    <div class="col-2">
                        <input type="number" id="Porcentaje" class="form-control" formControlName="comunicacion"
                            (change)="calcularPromedioConfiabilidad()" />
                    </div>
                </li>
                <li class="d-flex  ">
                    <p class="col-2">Promedio:</p>
                    <div class="col-2">
                        <input type="number" id="Porcentaje" class="form-control" formControlName="promedioConfia" />
                    </div>
                </li>
            </ul>
            <div>
                <h5>Agregar Comentarios e Imagenes</h5>
                <div #templateComentarios>
                </div>
                <div class="mt-3">
                    <button type="button" style="background-color: #00838F; color: #fbfbfb" class="btn btn-sm" mdbRipple
                        (click)="loadTemplateComentarios()">Añadir comentario</button>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <h4>Análisis de Criticidades</h4>
            <div class="d-flex flex-wrap gap-5" *ngIf="dataCriticisadad.length > 0 ; else elseBlock ">
                <div class="col-5" *ngFor="let criticidad of dataCriticisadad.reverse(); index as i">
                    <div class="border border-primary p-2">
                        <p>Fecha: {{criticidad.date}}</p>
                        <p>{{criticidad.id}}</p>
                        <p>Camara:{{criticidad.camera}}</p>
                        <label class="form-label" for="customFile">Imagen Grieta</label>
                        <input type="file" class="form-control" id="customFile" (change)="loadImg($event, i)" />
                        <img *ngIf="imgCriticidad[i]" [src]="imgCriticidad[i]" width="200" height="180" class="m-2 ">
                        <mdb-form-control class="mt-1">
                            <textarea mdbInput class="form-control" id="textAreaExamples" rows="1"
                                (change)="loadComentarios($event,i, criticidad.id)"></textarea>
                            <label mdbLabel class="form-label" for="textAreaExamples">Añadir comentario</label>
                        </mdb-form-control>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                <p>Durante el período no se registran grietas de criticidad alta asociadas a alguna condición de
                    fallamiento.</p>
            </ng-template>
        </div>
        <div class="my-4">
            <h4>Conclusiones y recomendaciones</h4>
            <mdb-form-control>
                <textarea mdbInput class="form-control" id="text2" rows="5" formControlName="conclusion"></textarea>
                <label mdbLabel class="form-label" for="text2">Añadir comentario</label>
            </mdb-form-control>
        </div>
    </div>
</div>