<div class="d-flex justify-content-center" [formGroup]="inputs">
    <div class="col-9 mt-2 ">
        <button type="button" class="btn btn-sm mb-4" style="background-color: #00838F; color: #eeefef" routerLink="/"
            mdbRipple>Atras </button>
        <div class="d-flex flex-column align-items-center mt-5 ">
            <h3>REPORTE SISMOS</h3>
            <div class="gap-3 d-flex mt-5">
                <button type="button" style="background-color: #00838F; color: #fbfbfb" class="btn "
                    (click)="generarPDF()" mdbRipple>mostrar</button>
                <button type="button" style="background-color: #00838F; color: #fbfbfb" class="btn " (click)="false"
                    mdbRipple>Subir</button>
            </div>
            <!-- El id del informe me deberia llegar por api -->
            <!-- <div class="my-4 d-flex flex-column align-items-center">
                <div>
                    <label>ID</label>
                    <div>
                        <input type="number" id="idInforme" class="form-control" />
                    </div>
                </div>
            </div> -->
            <div class="my-4 d-flex flex-column align-items-center  ">
                <div class="d-flex gap-3 align-items-end " style="width: 100%;">
                    <div>
                        <label>ID</label>
                        <div>
                            <input type="number" id="idInforme" class="form-control" value="0" min="0"
                                style="width: 100px;" formControlName="id" />
                        </div>
                    </div>
                    <div>
                        <label>Fecha Inicio</label>
                        <mdb-form-control style="width: 185px;">
                            <input mdbInput type="date" id="fecha-inicio" [max]="fechaMaxima" class="form-control"
                                formControlName="fecha" (change)="onSeleccionarFecha()" />
                        </mdb-form-control>
                    </div>
                </div>
                <div class="mt-4 d-flex flex-column align-items-center">
                    <div class="mt-4 d-flex gap-3 align-items-end">
                        <!-- <ul class="border rounded  d-flex flex-column align-items-center justify-content-center ps-0"> -->
                        <ul *ngIf="dataUltimosSismos.length > 0;  else elseBlock"
                            class="list-group list-group-light border overflow-auto"
                            style="width: 300px; height: 400px;">
                            <li *ngFor="let data of dataUltimosSismos" class="list-group-item">
                                <a href="#" style="color: rgb(42, 125, 169);" (click)="seleccionarSismo(data.id,$event)"
                                    class=" d-flex flex-column align-items-center justify-content-center">
                                    <p class="m-0" style="text-align: center; font-size: 13px; font-weight: bold;">
                                        {{data.lugar}}</p>
                                    <div class="d-flex gap-1">
                                        <p style="font-size: 11px;"><span style="font-weight: bold;">Fecha:</span>
                                            {{data.tiempo}}</p>
                                        <p style="font-size: 11px;"><span style="font-weight: bold;">Magnitud:</span>
                                            {{data.magnitud}}</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ng-template #elseBlock>
                            <div style="width: 300px; height: 400px;"
                                class="border d-flex justify-content-center align-items-center">
                                <p style="font-size: 20px; text-align: center;">NO SE ENCONTRARON SISMOS EN LA FECHA
                                    SELECCIONADA</p>
                            </div>
                        </ng-template>
                        <div class="map-container">
                            <div class="mt-2 d-flex gap-3 my-1">
                                <div class="d-flex gap-1 align-items-center">
                                    <img src="../../../../assets/Sismos/minaMarker.png" alt="minaMarker" width="15"
                                        height="15">
                                    <p style="font-size: 11px; " class="m-0"><span>Minera Los Pelambres</span></p>
                                </div>
                                <div class="d-flex gap-1 align-items-center">
                                    <img src="../../../../assets/Sismos/sismoMarker.png" alt="minaMarker" width="15"
                                        height="15">
                                    <p style="font-size: 11px; " class="m-0">Sismo</p>
                                </div>
                            </div>
                            <div class="map-frame" #mapaElement>
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 w-100 d-flex flex-column gap-3">
                    <div>
                        <label>Estacion Total</label>
                        <mdb-form-control>
                            <textarea mdbInput class="form-control" id="estacion" rows="4"
                                formControlName="estacion"></textarea>
                            <label mdbLabel class="form-label" for="estacion">Dejar en blanco si no presenta
                                activaciones.</label>
                        </mdb-form-control>
                    </div>
                    <div>
                        <label>Radar</label>
                        <mdb-form-control>
                            <textarea mdbInput class="form-control" id="Radar" rows="4"
                                formControlName="radar"></textarea>
                            <label mdbLabel class="form-label" for="Radar">Dejar en blanco si no presenta
                                activaciones.</label>
                        </mdb-form-control>
                    </div>
                    <div>
                        <label>Otras observaciones</label>
                        <mdb-form-control>
                            <textarea mdbInput class="form-control" id="OBSERVACIONES" formControlName="otrasObs"
                                rows="4" (keypress)="formateador($event)" maxlength=""></textarea>
                            <label mdbLabel class="form-label" for="OBSERVACIONES">Observaciones.</label>
                        </mdb-form-control>
                    </div>
                </div>
            </div>
            <div id="intento">
            </div>
        </div>
    </div>
</div>