<section class="d-flex justify-content-center">
    <div class="col-9 my-5">
        <button type="button" class="btn btn-sm mb-4" style="background-color: #00838F; color: #eeefef" routerLink="/"
            mdbRipple>Atras </button>
        <div class="d-flex flex-column align-items-center">
            <div>
                <h3 style="color: #00838F;">REPORTE TRONADURA</h3>
            </div>
            <div class="mt-4 col-9 d-flex flex-column gap-3" [formGroup]="inputs">
                <div class="border rounded p-2">
                    <div class="d-flex">
                        <h4>General</h4>
                    </div>
                    <div>
                        <div class="d-flex gap-2">
                            <div>
                                <label mdbLabel id="fechaTronadura">Fecha</label>
                                <mdb-form-control class="">
                                    <input mdbInput type="date" id="fechaTronadura" class="form-control"
                                        formControlName="fecha" />
                                </mdb-form-control>
                            </div>
                            <div>
                                <label mdbLabel id="horaTronadura">Hora</label>
                                <div class="">
                                    <input  type="time" id="horaTronadura" 
                                        formControlName="hora" />
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <label mdbLabel for="form1">Comentarios</label>
                            <mdb-form-control>
                                <textarea mdbInput class="form-control" id="comentario" rows="4"
                                    formControlName="comentarios"></textarea>
                                <label mdbLabel class="form-label" for="comentario">Comentarios</label>
                            </mdb-form-control>
                        </div>
                    </div>
                </div>
                <div class="border rounded p-2">
                    <div class="d-flex">
                        <h4>Localización</h4>
                    </div>
                    <div class="d-flex gap-4">
                        <div class="d-flex flex-column">
                            <label for="select1">Zona de Monitoreo</label>
                            <select id="select1" style="width: 170px; height: 35px;" class="rounded-2"
                                formControlName="zonaMonitoreo">
                                <option value="" hidden=""></option>
                                <option value="Fase 10E">Fase 10E</option>
                                <option value="Fase 2E">Fase 2E</option>
                                <option value="Fase 1O">Fase 1O</option>
                                <option value="Fase 10N">Fase 10N</option>
                                <option value="Fase 10S">Fase 10S</option>
                            </select>
                        </div>
                        <div class="d-flex flex-column">
                            <label for="select2">Pared</label>
                            <select id="select2" style="width: 170px; height: 35px;" class="rounded-2"
                                formControlName="pared">
                                <option value="" hidden=""></option>
                                <option value="N">N</option>
                                <option value="NE">NE</option>
                                <option value="E">E</option>
                                <option value="ES">ES</option>
                                <option value="S">S</option>
                                <option value="SO">SO</option>
                                <option value="O">O</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex gap-4 mt-2">
                        <div>
                            <label mdbLabel id="Este">Este</label>
                            <mdb-form-control>
                                <input mdbInput type="number" id="Este" class="form-control" formControlName="este" />
                            </mdb-form-control>
                        </div>
                        <div>
                            <label mdbLabel id="norte">Norte</label>
                            <mdb-form-control>
                                <input mdbInput type="number" id="norte" class="form-control" formControlName="norte" />
                            </mdb-form-control>
                        </div>
                        <div>
                            <label mdbLabel id="cota">Cota</label>
                            <mdb-form-control>
                                <input mdbInput type="number" id="cota" class="form-control" formControlName="cota" />
                            </mdb-form-control>
                        </div>
                    </div>
                </div>
                <div class="border rounded p-2">
                    <div class="d-flex">
                        <h4>Caracterización</h4>
                    </div>
                    <div class="d-flex flex-column gap-2 mt-2">
                        <div class="d-flex gap-4">
                            <!-- Default checkbox -->
                            <div class="form-check col-2">
                                <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="check-1"
                                    [checked]="false" formControlName="produccion" />
                                <label class="form-check-label" for="check-1"> Producción</label>
                            </div>
                            <!-- Checked checkbox -->
                            <div class="form-check col-2">
                                <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="check-2"
                                    [checked]="false" formControlName="precorte" />
                                <label class="form-check-label" for="check-2"> Precorte </label>
                            </div>
                            <div class="form-check col-2">
                                <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="check-3"
                                    [checked]="false" formControlName="destape" />
                                <label class="form-check-label" for="check-3"> Despate </label>
                            </div>
                        </div>
                        <div class="d-flex gap-4">
                            <!-- Default checkbox -->
                            <div class="form-check col-2">
                                <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="check-1"
                                    [checked]="false" formControlName="bolones" />
                                <label class="form-check-label" for="check-4"> Bolones </label>
                            </div>
                            <!-- Checked checkbox -->
                            <div class="form-check col-2">
                                <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="check-2"
                                    [checked]="false" formControlName="desquinche" />
                                <label class="form-check-label" for="check-5"> Desquinche </label>
                            </div>
                            <div class="form-check col-2">
                                <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="check-3"
                                    [checked]="false" formControlName="contorno" />
                                <label class="form-check-label" for="check-6"> Contorno </label>
                            </div>
                        </div>
                        <div class="d-flex gap-4">
                            <div>
                                <label mdbLabel id="pozos">N° Pozos producción</label>
                                <mdb-form-control>
                                    <input mdbInput type="number" id="pozos" class="form-control"
                                        formControlName="pozosProduccion" />
                                </mdb-form-control>
                            </div>
                            <div>
                                <label mdbLabel id="precorte">N° Pozos precorte</label>
                                <mdb-form-control>
                                    <input mdbInput type="number" id="precorte" class="form-control"
                                        formControlName="pozosPrecorte" />
                                </mdb-form-control>
                            </div>
                        </div>
                        <div class="d-flex gap-4">
                            <div>
                                <label mdbLabel id="Volumen">Volumen</label>
                                <mdb-form-control>
                                    <input mdbInput type="number" id="Volumen" class="form-control"
                                        formControlName="volumen" />
                                </mdb-form-control>
                            </div>
                            <div>
                                <label mdbLabel id="Este">Factor de carga general</label>
                                <mdb-form-control>
                                    <input mdbInput type="number" id="Este" class="form-control"
                                        formControlName="factorCarga" />
                                </mdb-form-control>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border rounded p-2">
                    <div class="d-flex">
                        <h4>Puntos de control Sector Tronadura</h4>
                    </div>
                    <div #punto></div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-sm mt-4" style="background-color: #00838F; color: #eeefef"
                            mdbRipple (click)="agregarPuntoDeControl()">Agregar Puntos de control Sector Tronadura
                        </button>
                    </div>
                </div>
                <div class="border rounded p-2">
                    <div class="d-flex">
                        <h4>Imágenes</h4>
                    </div>
                    <div>
                        <div class="d-flex gap-4">
                            <div style="width: 375px;">
                                <label mdbLabel id="">Antes Panorámica</label>
                                <input type="file" class="form-control form-control-sm" id="antes-panoramica"
                                    (change)="visualizarImagenCargada('aPanoramica', $event)" />
                                <div class=" mt-2" style="height: 240px;">
                                    <img class="d-none" src="#" alt="" width="100%" height="100%">
                                </div>
                            </div>
                            <div style="width: 375px;">
                                <label mdbLabel id="">Después Panorámica </label>
                                <input type="file" class="form-control form-control-sm" id="customFile2"
                                    (change)="visualizarImagenCargada('dPanoramica', $event)" />
                                <div class=" mt-2" style="height: 240px;">
                                    <img class="d-none" src="#" alt="" width="100%" height="100%">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex gap-4">
                            <div style="width: 375px;">
                                <label mdbLabel id="">Antes Zoom</label>
                                <input type="file" class="form-control form-control-sm" id="antes-panoramica"
                                    (change)="visualizarImagenCargada('aZoom', $event)" />
                                <div class=" mt-2" style="height: 240px;">
                                    <img class="d-none" src="#" alt="" width="100%" height="100%">
                                </div>
                            </div>
                            <div style="width: 375px;">
                                <label mdbLabel id="">Después Zoom</label>
                                <input type="file" class="form-control form-control-sm" id="customFile2"
                                    (change)="visualizarImagenCargada('dZoom', $event)" />
                                <div class=" mt-2" style="height: 240px;">
                                    <img class="d-none" src="#" alt="" width="100%" height="100%">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex gap-4">
                            <div style="width: 375px;">
                                <label mdbLabel id="">Antes Superior</label>
                                <input type="file" class="form-control form-control-sm" id="antes-panoramica"
                                    (change)="visualizarImagenCargada('aSuperior', $event)" />
                                <div class=" mt-2" style="height: 240px;">
                                    <img class="d-none" src="#" alt="" width="100%" height="100%">
                                </div>
                            </div>
                            <div style="width: 375px;">
                                <label mdbLabel id="">Después Superior</label>
                                <input type="file" class="form-control form-control-sm" id="customFile2"
                                    (change)="visualizarImagenCargada('dSuperior', $event)" />
                                <div class=" mt-2" style="height: 240px;">
                                    <img class="d-none" src="#" alt="" width="100%" height="100%">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex gap-4">
                            <div style="width: 375px;">
                                <label mdbLabel id="">Antes Inferior</label>
                                <input type="file" class="form-control form-control-sm" id="antes-panoramica"
                                    (change)="visualizarImagenCargada('aInferior', $event)" />
                                <div class=" mt-2" style="height: 240px;">
                                    <img class="d-none" src="#" alt="" width="100%" height="100%">
                                </div>
                            </div>
                            <div style="width: 375px;">
                                <label mdbLabel id="">Después Inferior</label>
                                <input type="file" class="form-control form-control-sm" id="customFile2"
                                    (change)="visualizarImagenCargada('dInferior', $event)" />
                                <div class=" mt-2" style="height: 240px;">
                                    <img class="d-none" src="#" alt="" width="100%" height="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 d-flex justify-content-end gap-2 col-9">
                <button style="background-color: #00838F; color: #eeefef" type="button" class="btn"
                    (click)="previsualizar()" mdbRipple>Preview</button>
                <button style="background-color: #00838F; color: #eeefef" type="button" class="btn" (click)="false"
                    mdbRipple>Descargar</button>
            </div>
        </div>
    </div>
</section>